1. standard rule on chick drop restrictions do not apply. Specifically you can (a) have two
    chick on the same file, (b) drop a chick to give check and (c) drop a chick on the last
    rank (which however will not result in a promotion)
2. you win the game if you place your lion on the last rank as long as it is not in check